In [1]:
import pandas as pd

# путь к сводной таблице
filepath = r"C:\Projects\geochem_python_lessons\Lessons\3 QAQC\DATA\geochem_results.xlsx"

# загрузим листы
results = pd.read_excel(filepath, sheet_name = 'Results')
metadata = pd.read_excel(filepath, sheet_name = 'Metadata', index_col = 0)
repeat_codes = pd.read_excel(filepath, sheet_name = 'Repeat_codes')

In [2]:
# удалим дубликаты анализов, оставив последний
results = results.drop_duplicates(subset = 'SampleID', keep = 'last')
results

      SampleID Sr_pct_ПКСА Ba_pct_ПКСА  ... Ag_ppm_ПКСА As_ppm_ПКСА Sb_ppm_ПКСА
0       101000        0.03        0.15  ...        0.03          10          15
1       101001        0.02         0.1  ...         0.4          10          15
2       101002        0.03        0.15  ...        0.06          10          15
3       101003        0.05       0.025  ...        0.04          10          15
4       101004        0.03        0.15  ...        0.04          10          15
...        ...         ...         ...  ...         ...         ...         ...
12963  9301180        0.03        0.12  ...        0.03          10          15
12964  9301178        0.05        0.08  ...        0.03          10          15
12965  9301177         0.1        0.15  ...        0.03          10          15
12966  9301175        0.03         0.1  ...        0.04          10          15
12967  9301173        0.03        0.05  ...        0.06          20          15

[12962 rows x 22 columns]

In [3]:
# проверим таблицу метаданных
metadata

                Sr_pct_ПКСА Ba_pct_ПКСА  ... As_ppm_ПКСА Sb_ppm_ПКСА
Analyte Symbol           Sr          Ba  ...          As          Sb
Unit Symbol               %           %  ...         ppm         ppm
Detection Limit        0.01       0.005  ...          20          30
Analysis Method        ПКСА        ПКСА  ...        ПКСА        ПКСА
Sensitivity k      0.026491    0.000154  ...    0.976908    0.999691

[5 rows x 21 columns]

In [4]:
repeat_codes

    Repeat SampleID  Initial SampleID
0           К302195            302195
1           К302175            302175
2           К302171            302171
3           К301206            301206
4           К301183            301183
..              ...               ...
272         9301180            301180
273         9301178            301178
274         9301177            301177
275         9301175            301175
276         9301173            301173

[277 rows x 2 columns]

In [7]:
# проверим наличие пар анализов (первичный + повторный) в результатах
idx = repeat_codes['Repeat SampleID'].isin(results['SampleID']) & repeat_codes['Initial SampleID'].isin(results['SampleID'])
repeat_codes = repeat_codes.loc[idx, :]
repeat_codes

    Repeat SampleID  Initial SampleID
0           К302195            302195
1           К302175            302175
2           К302171            302171
3           К301206            301206
4           К301183            301183
..              ...               ...
272         9301180            301180
273         9301178            301178
274         9301177            301177
275         9301175            301175
276         9301173            301173

[276 rows x 2 columns]

In [9]:
# сделаем выборку первичных проб
idx = results['SampleID'].isin(repeat_codes['Initial SampleID'])
initial_samples = results.loc[idx, :].sort_values(by = 'SampleID', ignore_index = True)
initial_samples

    SampleID Sr_pct_ПКСА Ba_pct_ПКСА  ... Ag_ppm_ПКСА As_ppm_ПКСА Sb_ppm_ПКСА
0     301173        0.03        0.05  ...        0.06          20          15
1     301175        0.03        0.06  ...        0.04          10          15
2     301177        0.15        0.15  ...        0.04          10          15
3     301178        0.06         0.1  ...        0.05          10          15
4     301180        0.03         0.1  ...        0.04          10          15
..       ...         ...         ...  ...         ...         ...         ...
271   338248        0.02        0.05  ...        0.04          10          15
272   338249        0.05        0.15  ...        0.04          10          15
273   338271        0.03         0.1  ...        0.08          10          15
274   338276       0.025        0.04  ...        0.05          10          15
275   338297       0.025        0.05  ...        0.06          10          15

[276 rows x 22 columns]

In [11]:
# сделаем выборку повторных анализов
repeat_samples = repeat_codes.merge(results, left_on = 'Repeat SampleID', right_on = 'SampleID', how = 'left')
repeat_samples.sort_values(by = 'Initial SampleID', ignore_index = True, inplace = True)
repeat_samples

    Repeat SampleID  Initial SampleID  ... As_ppm_ПКСА Sb_ppm_ПКСА
0           9301173            301173  ...          20          15
1           9301175            301175  ...          10          15
2           9301177            301177  ...          10          15
3           9301178            301178  ...          10          15
4           9301180            301180  ...          10          15
..              ...               ...  ...         ...         ...
271         9338248            338248  ...          10          15
272         9338249            338249  ...          10          15
273         К338271            338271  ...          10          15
274         К338276            338276  ...          10          15
275         9338297            338297  ...          10          15

[276 rows x 24 columns]

In [15]:
import numpy as np

for col in metadata:
    # короткое имя
    name = metadata.loc['Analyte Symbol', col]
    
    # пропустим столбцы с недостаточной чувствительностью
    if metadata.loc['Sensitivity k', col] >= 0.8:
        print(name, ' пропущен из-за недостаточной чувствительности')
        continue
    
    # сделаем выборку данных
    initial = initial_samples[col].astype(float).copy()
    repeat = repeat_samples[col].astype(float).copy()
    
    # логарифмируем
    initial_lg = np.log(initial)
    repeat_lg = np.log(repeat)
    
    # определяем систематическую ошибку
    d_syst = np.mean(initial_lg - repeat_lg)
    s_syst = np.exp(d_syst)
    
    # введем поправку на систематическую погрешность
    if 0.9 < s_syst < 1.1:
        status = 'Сист. уд.'
    else:
        initial_lg -= d_syst
        status = 'Систе. ИСПРАВ.'
    
    # определяем случайную ошибку
    d_rand = np.mean(np.abs(initial_lg - repeat_lg)) / 2**0.5
    s_rand = np.exp(d_rand)
    
    # статус случайной ошибки
    if s_rand > 1.6:
        rand_status = 'Случ. НЕУД.'
    else:
        rand_status = 'Случ. уд.'
    
    # запишем в метаданные
    metadata.loc['Δ сист.', col] = d_syst
    metadata.loc['δ сист.', col] = s_syst
    metadata.loc['δ случ.', col] = s_rand
    
    print(f"{name}: {s_syst:.2f}, {status}, {s_rand:.2f}, {rand_status}")

Sr: 1.06, Сист. уд., 1.12, Случ. уд.
Ba: 0.96, Сист. уд., 1.17, Случ. уд.
TiO2: 0.97, Сист. уд., 1.15, Случ. уд.
MnO: 1.12, Систе. ИСПРАВ., 1.15, Случ. уд.
V: 1.16, Систе. ИСПРАВ., 1.15, Случ. уд.
Cr: 4.49, Систе. ИСПРАВ., 1.36, Случ. уд.
Co: 0.97, Сист. уд., 1.12, Случ. уд.
Ni: 1.13, Систе. ИСПРАВ., 1.20, Случ. уд.
Be: 1.10, Систе. ИСПРАВ., 1.23, Случ. уд.
Li: 0.81, Систе. ИСПРАВ., 1.19, Случ. уд.
W  пропущен из-за недостаточной чувствительности
Mo: 1.08, Сист. уд., 1.12, Случ. уд.
Sn: 0.92, Сист. уд., 1.18, Случ. уд.
Cu: 1.06, Сист. уд., 1.13, Случ. уд.
Pb: 0.99, Сист. уд., 1.11, Случ. уд.
Zn: 0.99, Сист. уд., 1.12, Случ. уд.
Cd  пропущен из-за недостаточной чувствительности
Bi  пропущен из-за недостаточной чувствительности
Ag: 1.05, Сист. уд., 1.15, Случ. уд.
As  пропущен из-за недостаточной чувствительности
Sb  пропущен из-за недостаточной чувствительности

In [16]:
metadata.to_excel(new_filepath)

                Sr_pct_ПКСА Ba_pct_ПКСА  ... As_ppm_ПКСА Sb_ppm_ПКСА
Analyte Symbol           Sr          Ba  ...          As          Sb
Unit Symbol               %           %  ...         ppm         ppm
Detection Limit        0.01       0.005  ...          20          30
Analysis Method        ПКСА        ПКСА  ...        ПКСА        ПКСА
Sensitivity k      0.026491    0.000154  ...    0.976908    0.999691
Δ сист.            0.060681   -0.037916  ...         NaN         NaN
δ сист.            1.062559    0.962794  ...         NaN         NaN
δ случ.            1.119863    1.167648  ...         NaN         NaN

[8 rows x 21 columns]

In [19]:
col = 'V_ppm_ПКСА'

d_syst = metadata.loc['Δ сист.', col]
idx = results[col].apply(lambda x: isinstance(x, str))
data = results.loc[~idx, col].astype(float)
results.loc[~idx, col] = np.exp(np.log(data) - d_syst)
results[col]

0         86.107621
1         86.107621
2         68.886097
3        129.161431
4         68.886097
            ...
12963     51.664572
12964     51.664572
12965     51.664572
12966     68.886097
12967     86.107621
Name: V_ppm_ПКСА, Length: 12962, dtype: object